@import "var";
@import "transform";
@import "registration";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - #{$widthSite / 2});
    padding-right: calc(50% - #{$widthSite / 2});
}

.header {
    &_menu {
        min-height: 75px;
        background-color: $colorContent;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        transition: transform 1s;
        & a {
            cursor: pointer;
            &:hover path {
                fill: $colorPink;
                transition: 0.4s;
                transform: scale(1.02)
            }
        }
        & label {
            cursor: pointer;
            &:hover path {
                fill: $colorPink;
                transition: 0.4s;
                transform: scale(1.02)
            }
        }
    }
    &_left {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
    &_checkbox {
        position: absolute;
        overflow: hidden;
        left: -9999999px;
    }
    &_checkbox:checked~.mobile-menu {
        right: 0;
    }
}
.header_checkbox_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
        background-color: transparent;
        border: transparent;
    }
    & button:hover svg path {
        fill: $colorPink;
        transition: 0.2s;
    }
}

.mobile-menu {
    position: absolute;
    top: 75px;
    right: -$widthMobileMenu;
    z-index: 1;
    transition: right 0.6s;
    width: $widthMobileMenu;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
    &_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &:hover {
        color: $colorSite;
    }
    &_title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorSite;
    }
    &_list {
        list-style-type: none;
        padding-left: 21px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin-top: 12px;
    }
    &_box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 24px;
    }
}

.promo {
    display: flex;
    background: #f1e4e6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    &_img {
        width: 50%;
    }
    &_info {
        border-left: 12px solid $colorSite;
        padding-left: 16px;
        margin-top: 48%;
        -webkit-animation: slide-in-bck-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bck-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &_title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $colorContent;
    }
    &_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: $colorContent;
        &_color {
            color: $colorSite;
        }
    }
    &_content {
        padding-left: 64px;
    }
}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    padding-top: 64px;
    padding-bottom: 96px;
    &_item {
        position: relative;
    }
    &_content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_item_big {
        min-height: 180px;
        grid-column: 1 / -1;
    }
    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
    }
    &_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorSite;
    }
}

.featured_items {
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    &_top {
        text-align: center;
        padding-bottom: 48px;
    }
    &_heading_top {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $colorContent;
        text-align: center;
        padding-bottom: 6px;
    }
    &_top_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #9f9f9f;
    }
    &_cardbox {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        &_product {
            margin-bottom: 128px;
        }
    }
    &_card {
        display: flex;
        flex-direction: column;
        background: #f8f8f8;
        position: relative;
        &:hover .featured_items_card_img {
            filter: brightness(0.5);
            transition: 1s;
        }
        &:hover .featured_items_card_link {
            display: flex;
            transition: 1s;
        }
        &_img {
            width: 100%;
            padding-bottom: 25px;
        }
        &_link {
            position: absolute;
            top: 188px;
            left: 111px;
            border: 1px solid #fff;
            width: 139px;
            height: 44px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: none;
            align-items: center;
            justify-content: center;
            gap: 11px;
            color: #ffffff;
        }
    }
    &_headind_card {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    &_text_card {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        padding-top: 13px;
        padding-bottom: 18px;
    }
    &_price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSite;
        padding-bottom: 20px;
    }
    &_button {
        transition: 1.5s;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding: 14px 38px;
        border: 1px solid #ff6a6a;
        background-color: transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        margin-bottom: 96px;
        transition: transform 0.1s;
        &_link {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #f26376;
            margin-bottom: 96px;
            &:hover {
                color: #fff;
                transition: 0.2s;
                transform: scale(1.05)
            }
            &:hover path {
                fill: white;
            }
        }
        &:hover a {
            color: #fff;
            transition: 0.2s;
            transform: scale(1.05)
        }
        &:hover {
            background-color: $colorSite;
            color: #fff;
            transform: scale(1.05)
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    &_top {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #222224;
        min-height: 340px;
        &_content_box {
            display: flex;
            &_card_img {
                padding-bottom: 28px;
            }
            &_card {
                padding-right: 30px;
                width: 360px;
                height: 134px;
            }
        }
        &_heading {
            font-weight: 400;
            font-size: 19.96px;
            line-height: 24px;
            color: #fbfbfb;
            padding-bottom: 16px;
        }
        &_heading_text {
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            text-align: center;
            color: #fbfbfb;
        }
    }
    &_center {
        background: rgba(244, 244, 244, 0.7);
        background-image: url(img/footer_center.jpg);
        background-repeat: no-repeat;
        min-height: 448px;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_img {
                padding-bottom: 30px;
            }
            &_text {
                max-width: 360px;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
            }
        }
        &_right {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_heading {
                font-weight: 700;
                font-size: 24px;
                line-height: 167.2%;
                text-align: center;
                color: $colorContent;
                padding-bottom: 32px;
            }
            &_input {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                color: #222224;
                opacity: 0.67;
                background: #E1E1E1;
                border: 1px solid #E1E1E1;
                box-sizing: border-box;
                border-radius: 10px 0 0 10px;
                padding: 7px 64px 6px 22px;
                min-height: 49px;
                outline: none;
            }
            &_inputarea {
                display: flex;
            }
            &_link {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                background: #F16D7F;
                border: 1px solid #F16D7F;
                box-sizing: border-box;
                border-radius: 0 10px 10px 0;
                min-height: 49px;
                padding: 7px;
                outline: none;
                transition: transform 0.1s;
                &:hover {
                transform: scale(1.05);
                }
            }
        }
    }
    &_bottom {
        background: #222224;
        min-height: 79px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        &_text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $colorTextContent;
        }
        &_right {
            display: flex;
            gap: 8px;
            &_link {
                width: 32px;
                height: 32px;
                display: block;
                background: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.1s;
                &:hover {
                    transition: 0.5s;
                    background: $colorSite;
                    transform: scale(1.05);
                }
                &:hover path {
                    transition: 0.5s;
                    fill: #ffffff;
                }
            }
        }
    }
}

.head {
    min-height: 148px;
    background: #f8f3f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSite;
    }
}

.breadcrumb {
    display: flex;
    &_box-link:last-child .breadcrumb_link {
        font-weight: 700;
        color: $colorSite;
    }
    &_box-link:not(:last-child)::after {
        content: "/";
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &_link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &:hover {
        color: $colorSite;
    }
}

.filter {
    transition: 1s;
    width: 100%;
    padding: 13px 16px 16px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    &-box {
        position: relative;
        height: 40px;
        width: $width3;
    }
    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
    }
    &:hover {
        color: $colorSite;
    }
    &_box {
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        gap: 11px;
    }
    &_sort {
        padding-top: 51px;
        padding-bottom: 65px;
        display: flex;
        gap: 30px;
    }
    &_summary {
        display: flex;
        gap: 11px;
        align-items: center;
    }
    &[open] {
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        & .filter_summary {
            color: $colorSite;
        }
        & .filter_img path {
            fill: $colorSite;
        }
    }
    &_category {
        margin-top: 16px;
        &_summary {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6f6e6e;
            padding: 8px 11px 11px;
            border-left: 5px solid $colorSite;
            border-bottom: 1px solid #ebebeb;
        }
        &[open] .filter_category_summary {
            color: $colorSite;
        }
    }
}

.sort {
    display: flex;
    gap: 28px;
    align-items: center;
    &_details {
        position: relative;
    }
    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 48px;
    padding-bottom: 98px;
    &_box {
        display: flex;
        gap: 18px;
        padding: 12px 15px;
        border: 1px solid #000;
    }
    &_link {
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }
}

.slider {
    height: 777px;
    position: relative;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    &_arrow {
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 365px;
        &:hover path {
            fill: $colorSite;
        }
        &_left {
            left: 0;
        }
        &_right {
            right: 0;
        }
    }
}

.content {
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1140px;
    margin: -65px auto 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_heading {
        font-size: 14px;
        line-height: 17px;
        color: #f16d7f;
        padding-bottom: 12px;
        &_big {
            font-size: 18px;
            line-height: 22px;
            color: #4d4d4d;
            padding-bottom: 50px;
        }
    }
    &_line {
        width: 64px;
        height: 4px;
        background: #ef5b70;
        margin-bottom: 12px;
        &_big {
            width: 641px;
            border-top: 1px solid #eaeaea;
            margin-bottom: 64px;
        }
    }
    &_text {
        width: 555px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5e5e5e;
        padding-bottom: 32px;
    }
    &_price {
        font-size: 24px;
        line-height: 29px;
        color: #ef5b70;
        padding-bottom: 64px;
    }
    &_button {
        transition: 1.5s;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding: 14px 38px;
        border: 1px solid #ff6a6a;
        background-color: transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        margin-bottom: 96px;
        &_link {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #f26376;
            margin-bottom: 96px;
            &:hover {
                color: #fff;
                transition: 0.2s;
            }
            &:hover path {
                fill: white;
            }
        }
        &:hover a {
            color: #fff;
            transition: 0.2s;
        }
        &:hover {
            background-color: $colorSite;
            color: #fff;
        }
    }
}

.cart_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 128px;
    padding-top: 96px;
    padding-bottom: 128px;
}

.cart_container__products {
    max-width: 625px;
}

.cart_container__products__item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;
    & button {
        background-color: transparent;
        border: transparent;
        margin-top: 28px;
        margin-right: 28px;
        margin-left: 56px;
    }
    & button:hover svg path {
        fill: $colorSite;
        transition: 0.2s;
    }
    & img {
        max-width: 306px;
    }
}

.cart_container__products__item_description {
    margin-top: 28px;
    margin-left: 32px;
    list-style: none;
    & li {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        padding-bottom: 6px;
    }
    & h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        padding-bottom: 42px;
        &:hover {
            color: $colorSite;
            transition: 0.4s;
        }
    }
    & .quanity_block {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
    }
    & input {
        outline: none;
        -moz-appearance: none;
        border: 1px solid #eaeaea;
        resize: none;
        width: 44px;
        height: 24px;
        text-align: center;
        padding-top: 2px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #222;
    }
    & input::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #656565;
        text-align: center;
    }
    & input::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    & input::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    & input:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    & input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    & input:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    & input:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    & input:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    & input:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.cart_container__products__actions {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    & button {
        padding: 16px 40px;
        background-color: transparent;
        border: 1px solid #A4A4A4;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: #F8F3F4;
            transition: 0.4s;
            color: $colorSite;
        }
    }
}

.cart_container__order {
    & .cart_container__address {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    & .cart_container__address h3 {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    & .cart_container__address input {
        width: calc(100% - 32px);
        height: 44px;
        padding-left: 16px;
        border: 1px solid #a4a4a4;
        padding-right: 16px;
    }
    & .cart_container__address input::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
    }
    & .cart_container__address input.light_placeholder::placeholder {
        color: #b1b1b1;
    }
    & .cart_container__address button {
        margin-top: 12px;
        margin-bottom: 56px;
        padding: 10px 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        border: 1px solid #a4a4a4;
        background-color: transparent;
        text-transform: uppercase;
        &:hover {
            background-color: #F8F3F4;
            transition: 0.4s;
            color: $colorSite;
        }
    }
}

.checkout {
    max-width: 100%;
    background-color: #f5f3f3;
    padding: 40px 34px 42px 44px;
    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        padding-bottom: 12px;
        text-align: end;
    }
    & h4 {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-bottom: 20px;
        text-align: end;
    }
    & hr {
        width: 275px;
        size: 1px;
        background-color: #e2e2e2;
        margin-bottom: 16px;
    }
    & button {
        padding: 16px 42px;
        background-color: #f16d7f;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        border: transparent;
        &:hover {
            transition: 0.2s;
            background-color: #E05C6E;
        }
    }
}