@import "var";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - #{$widthSite / 2});
    padding-right: calc(50% - #{$widthSite / 2});
}

.header {
    min-height: 75px;
    background: $colorContent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &_left {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
}

.promo {
    display: flex;
    background: #f1e4e6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    &_img {
        width: 50%;
    }
    &_info {
        border-left: 12px solid $colorSite;
        padding-left: 16px;
        margin-top: 48%;
    }
    &_title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $colorContent;
    }
    &_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: $colorContent;
        &_color {
            color: $colorSite;
        }
    }
    &_content {
        padding-left: 64px;
    }
}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    padding-top: 64px;
    padding-bottom: 96px;
    &_item {
        position: relative;
    }
    &_content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_item_big {
        min-height: 180px;
        grid-column: 1 / -1;
    }
    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
    }
    &_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorSite;
    }
}

.featured_items {
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    &_top {
        text-align: center;
        padding-bottom: 48px;
    }
    &_heading_top {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $colorContent;
        text-align: center;
        padding-bottom: 6px;
    }
    &_top_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #9f9f9f;
    }
    &_cardbox {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    &_card {
        display: flex;
        flex-direction: column;
        background: #f8f8f8;
        position: relative;
        &:hover .featured_items_card_img {
            filter: brightness(0.5);
        }
        &:hover .featured_items_card_link {
            display: flex;
        }
        &_img {
            width: 100%;
            padding-bottom: 25px;
        }
        &_link {
            position: absolute;
            top: 188px;
            left: 111px;
            border: 1px solid #fff;
            width: 139px;
            height: 44px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: none;
            align-items: center;
            justify-content: center;
            gap: 11px;
            color: #ffffff;
            &:hover {
                box-shadow: 0 0 5px #fff;
            }
        }
    }
    &_headind_card {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    &_text_card {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        padding-top: 13px;
        padding-bottom: 18px;
    }
    &_price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSite;
    }
    &_button {
        text-align: center;
        padding-top: 63px;
    }
    &_button_link {
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        text-decoration: none;
        border: 1px solid #ff6a6a;
        padding: 14px 38px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    &_top {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #222224;
        min-height: 340px;
        &_content_box {
            display: flex;
            &_card_img {
                padding-bottom: 28px;
            }
            &_card {
                padding-right: 30px;
                width: 360px;
                height: 134px;
            }
        }
        &_heading {
            font-weight: 400;
            font-size: 19.96px;
            line-height: 24px;
            color: #fbfbfb;
            padding-bottom: 16px;
        }
        &_heading_text {
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            text-align: center;
            color: #fbfbfb;
        }
    }
    &_center {
        background: rgba(244, 244, 244, 0.7);
        background-image: url(img/footer_center.jpg);
        background-repeat: no-repeat;
        min-height: 448px;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_img {
                padding-bottom: 30px;
            }
            &_text {
                max-width: 360px;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
            }
        }
        &_right {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_heading {
                font-weight: 700;
                font-size: 24px;
                line-height: 167.2%;
                text-align: center;
                color: $colorContent;
                padding-bottom: 32px;
            }
            &_input {
                background: #e1e1e1;
                border-radius: 10px 0 0 10px;
                min-height: 49px;
                padding-left: 22px;
            }
            &_inputarea {
                display: flex;
                flex-direction: row;
            }
            &_link {
                display: flex;
                align-items: center;
                background: #f16d7f;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
                min-height: 49px;
                border-radius: 0 10px 10px 0;
                padding: 8px;
            }
        }
    }
    &_bottom {
        background: #222224;
        min-height: 79px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        &_text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $colorTextContent;
        }
        &_right {
            display: flex;
            gap: 8px;
            &_link {
                width: 32px;
                height: 32px;
                display: block;
                background: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background: $colorSite;
                }
                &:hover path {
                    fill: #ffffff;
                }
            }
        }
    }
}

.head {
    min-height: 148px;
    background: #f8f3f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSite;
    }
}

.breadcrumb {
    display: flex;
    &_box-link:last-child .breadcrumb_link {
        font-weight: 700;
        color: $colorSite;
    }
    &_box-link:not(:last-child)::after {
        content: "/";
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &_link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &:hover {
        color: $colorSite;
    }
}

.filter {
    width: 100%;
    padding: 13px 16px 16px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    &-box {
        position: relative;
        height: 40px;
        width: $width3;
    }
    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
    }
    &:hover {
        color: $colorSite;
    }
    &_box {
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        gap: 11px;
    }
    &_sort {
        padding-top: 51px;
        padding-bottom: 65px;
        display: flex;
        gap: 30px;
    }
    &_summary {
        display: flex;
        gap: 11px;
        align-items: center;
    }
    &[open] {
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        & .filter_summary {
            color: $colorSite;
        }
        & .filter_img path {
            fill: $colorSite;
        }
    }
    &_category {
        margin-top: 16px;
        &_summary {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6f6e6e;
            padding: 8px 11px 11px;
            border-left: 5px solid $colorSite;
            border-bottom: 1px solid #ebebeb;
        }
        &[open] .filter_category_summary {
            color: $colorSite;
        }
    }
}

.sort {
    display: flex;
    gap: 28px;
    align-items: center;
    &_details {
        position: relative;
    }
    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 48px;
    padding-bottom: 98px;
    &_box {
        display: flex;
        gap: 18px;
        padding: 12px 15px;
        border: 1px solid #000;
    }
    &_link {
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }
}

.slider {
    height: 777px;
    position: relative;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    &_arrow {
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 365px;
        &:hover path {
            fill: $colorSite;
        }
        &_left {
            left: 0;
        }
        &_right {
            right: 0;
        }
    }
}

.content {
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1140px;
    margin: -65px auto 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_heading {
        font-size: 14px;
        line-height: 17px;
        color: #f16d7f;
        padding-bottom: 12px;
        &_big {
            font-size: 18px;
            line-height: 22px;
            color: #4d4d4d;
            padding-bottom: 50px;
        }
    }
    &_line {
        width: 64px;
        height: 4px;
        background: #ef5b70;
        margin-bottom: 12px;
        &_big {
            width: 641px;
            border-top: 1px solid #eaeaea;
            margin-bottom: 64px;
        }
    }
    &_text {
        width: 555px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5e5e5e;
        padding-bottom: 32px;
    }
    &_price {
        font-size: 24px;
        line-height: 29px;
        color: #ef5b70;
        padding-bottom: 64px;
    }
    &_button {
        border: 1px solid #f26376;
        margin-top: 49px;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        padding: 14px 58px 14px 23px;
        &_link {
            gap: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f26376;
            text-decoration: none;
        }
    }
}
